<%= content_for(:title, t('profiles.show.bookstore_list')) %>
<div class="container">

<h2><%= t('profiles.show.bookstore_list') %></h2>

<ul class="nav nav-tabs mb-3">
  <li class="nav-items">
    <div class="nav-link">
      <%= link_to t('profiles.show.profile'), profiles_path, class:"link-secondary text-decoration-none" %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link active">
    <%= t('profiles.show.bookstore_list') %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link">
    <%= link_to t('profiles.show.review_list'), review_list_profiles_path, class:"link-secondary text-decoration-none" %>
    </div>
  </li>
</ul>
<div class="col-lg-8">
  <div class="row">
  <% if @wanna_bookstores.present? %>
    <%= render @wanna_bookstores %>
  <% else %>
    <p>行きたい本屋はありません</p>
  <% end %>
  </div>
  <%= paginate @wanna_bookstores, theme: 'bootstrap-5' %>
  </div>
</div>