<div class="container">

<h2><%= t('profiles.show.store_review') %></h2>

<ul class="nav nav-tabs mb-3">
  <li class="nav-items">
    <div class="nav-link">
      <%= link_to t('profiles.show.profile'), profiles_path, class:"link-secondary text-decoration-none" %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link">
      <%= link_to t('profiles.show.wanna_go_bookstore'), "/profiles/bookstore_list", class:"link-secondary text-decoration-none" %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link active">
   <%= t('profiles.show.store_review') %>
    </div>
  </li>
</ul>
<div class="col-lg-8 offset-lg-1">
  <div class="row">
<% if @store_reviews.present? %>
  <%= render @store_reviews %>
<% else %>
  <p>あなたが書いたおすすめ文はありません</p>
<% end %>
  </div>
  <%= paginate @store_reviews, theme: 'bootstrap-5' %>
</div>
</div>
