<%= content_for(:title, t('profiles.show.store_review')) %>
<div class="container">

<h2><%= t('profiles.show.store_review') %></h2>

<ul class="nav nav-tabs mb-3">
  <li class="nav-items">
    <div class="nav-link">
      <%= link_to t('profiles.show.profile'), profiles_path, class:"link-secondary text-decoration-none" %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link">
      <%= link_to t('profiles.show.wanna_go_bookstore'), "/profiles/bookstore_list", class:"link-secondary text-decoration-none" %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link active">
   <%= t('profiles.show.store_review') %>
    </div>
  </li>
</ul>
<div class="row">
  <div class="col">
    <div class="row">
      <h3>あなたの書いたおすすめ文一覧</h3>
    <% if @store_reviews.present? %>
      <%= render @store_reviews %>
    <% else %>
      <p>あなたが書いたおすすめ文はありません</p>
    <% end %>
    </div>
  <%= paginate @store_reviews, theme: 'bootstrap-5' %>
  </div>
  <div class="col">
  <h3>推し活リスト</h3>
    <%= render "purchase_histories/form"%>
    <p>結果はここに表示、ページネーションも出来ればつける</p>

    <% if @purchase_histories.present? %>
    <%= render @purchase_histories %>
    <%= paginate @purchase_histories, theme: 'bootstrap-5' %>
    <% else %>
    <p>推し活リストがまだ作られていません</p>
    <p>おすすめ文を書いたら、買った本を記録してみましょう！</p>
    <% end %>
  </div>
</div>
