<%= content_for(:title, t('.profile')) %>
<div class="container">

<h2><%= t('.profile') %></h2>

<ul class="nav nav-tabs mb-3">
  <li class="nav-items">
    <div class="nav-link active">
      <%= t('.profile') %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link">
      <%= link_to t('.wanna_go_bookstore'), "/profiles/bookstore_list", class:"link-secondary text-decoration-none" %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link">
    <%= link_to t('.store_review'), review_list_profiles_path, class:"link-secondary text-decoration-none" %>
    </div>
  </li>
</ul>
<div class="col-lg-8 offset-lg-1">
<%= link_to "編集", edit_profiles_path, class: "btn btn-success" %>
  <div class="mb-3"><strong>名前</strong></div>
  <div class="mb-3"><%= @user.name %>
  </div>
  <div class="mb-3"><strong>プロフィール</strong></div>
  <div class="mb-3"><%= simple_format(@user.profile) %></div>
</div>