<div class="container">

<h2>プロフィール</h2>

<ul class="nav nav-tabs">
  <li class="nav-items">
    <div class="nav-link active">
      プロフィール
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link">
      <%= link_to "行きたい本屋リスト", "/profiles/bookstore_list", class:"link-secondary text-decoration-none" %>
    </div>
  </li>
  <li class="nav-items">
    <div class="nav-link">
    <%= link_to "おすすめした本屋リスト", "/profiles/review_list", class:"link-secondary text-decoration-none" %>
    </div>
  </li>
</ul>
<div class="col-lg-8 offset-lg-1">
<%= link_to "編集", edit_profiles_path, class: "btn btn-success" %>
  <div class="mb-3">名前</div>
  <div class="mb-3"><%= @user.name %>
  </div>
  <div class="mb-3">プロフィール</div>
  <div class="mb-3"><%= simple_format(@user.profile) %></div>
</div>