<%= form_with(model: @purchase_history, url: @purchase_history.persisted? ? profiles_purchase_history_path(@purchase_history) : profiles_purchase_histories_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :purchase_date %>
  <%= f.text_field :purchase_date, placeholder: "半角 例 2024-06-29" %>

  本屋の名前
  <%= f.collection_select :store_review_id, current_user.store_reviews, :id, :bookstore_name, prompt: "購入した推し本屋を選択してください" %>
  <div>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", placeholder: "入力してください" %>
  
  <%= f.label :author_name %>
  <%= f.text_field :author_name, class: "form-control", placeholder: "入力してください" %>
  </div>
  <%= f.label :note %>
  <%= f.text_area :note, class: "form-control", placeholder: "入力してください、改行可能です" %>

  <%= f.submit nil, class: "btn btn-success" %>
<% end %>