<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto main-nav align-items-center">
    <li class="nav-item">
      <%= link_to t('header.find_bookstore'), bookstores_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
    <%= link_to t('header.diagnostic'), "#", class: 'nav-link' %>
    </li>
    <li class="nav-item">
    <%= link_to t('header.how_to_use'), "#", class: 'nav-link' %>
    </li>

    <li class="nav-item dropdown dropdown-slide">
      <%= link_to "#{current_user.name}", "#", class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown'}, aria: { haspopop: 'true', expand: 'false' }, id: 'header-board-menu' %>
     <div class="dropdown-menu dropdown-menu-end">
       <%= link_to t('header.profile'), "#", class: 'dropdown-item' %>
       <%= link_to t('header.wanna_go_bookstore'), "#", class: 'dropdown-item' %>
       <%= link_to t('header.favorite_bookstore'), "#", class: 'dropdown-item' %>
     <div class="dropdown-divider"></div>
       <%= link_to t('header.logout'), logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
     </div>
    </li>
    </ul>
  </div>
  </nav>
</header>

