<div class="container">
<h1><%= t('.title') %></h1>
  <div>
    <%= render "search", q: @q, url: bookstores_path %>
  </div>
  <div class="row">
    <% if @bookstores.present? %>
      <%= render @bookstores %>
    <% else %>
      <div class="mb-3">書店情報がありません</div>
    <% end %>
  </div>
  <%= paginate @bookstores, theme: 'bootstrap-5' %>
  <div data-turbo="false" class="text-center">
      <%= link_to t('.to_create_bookstore'), new_bookstore_path, class: "btn btn-success" %>
    </div>
</div>