<div class="container">
  <h1><%= t('.title') %></h1>
  <div class="d-flex">
  <h3><%= @bookstore.name %></h3>
    <%= link_to '#' do %>  
      <i class="bi bi-bookmark"></i>
    <% end %>
    <%= link_to edit_bookstore_path(@bookstore), class: "button-edit-#{@bookstore.id}" do %>
      <i class="bi bi-pencil"></i>
    <% end %>
    <% if current_user && current_user.own?(@bookstore) %>
    <%= link_to bookstore_path(@bookstore), class: "button-delete-#{@bookstore.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.flash_message.delete') } do %>
      <i class="bi bi-trash"></i>
    <% end %>
    <% end %>
  </div>

  <div class="mb-2">
    場所：<%= @bookstore.address %>
  </div>
  <div class="mb-2">
    タグ：<% @bookstore.tags.each do |tag| %>
      <%= link_to bookstores_path(tag_name: tag.name), class: "badge rounded-pill bg-success text-decoration-none text-white" do %>
        <%= tag.name %>
      <% end %>
    <% end %>
  </div>

  <div id="map" style="height: 250px; width: 30%;"></div>

  <script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: '<%= ENV['GOOGLE_MAPS_API_KEY'] %>',
    // Add other bootstrap parameters as needed, using camel case.
    // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
  });
  </script>


  <div class="row">
    <h3>この本屋のおすすめ文</h3>
    <% if @store_reviews.present? %>
    <%= render @store_reviews %>
    <% else %>
    <div class="mb-3">まだおすすめ文がありません</div>
    <% end %>
    </div>

  <div>
  <%= link_to "この本屋のおすすめ文を書いてみる", new_bookstore_store_review_path(@bookstore), class: "btn btn-success mb-2" %>
  </div>
  <%= link_to "本屋一覧へ", bookstores_path, class: "btn btn-success mb-2" %>
</div>
</div>