<h1><%= t('.title') %></h1>

<div class="container">
  <div class="d-flex">
  <h3><%= @bookstore.name %></h3>
  <i class="bi bi-bookmark"></i>
  <%= link_to edit_bookstore_path(@bookstore), class: "button-edit-#{@bookstore.id}" do %>
    <i class="bi bi-pencil"></i>
  <% end %>
  <%= link_to bookstore_path(@bookstore), class: "button-delete-#{@bookstore.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.flash_message.delete') } do %>
    <i class="bi bi-trash"></i>
  <% end %>
  </div>

  <div>
    場所：<%= @bookstore.address %>
  </div>
  <div>
    <p>タグ</p>
    <% @bookstore.tags.each do |tag| %>
    <%= link_to bookstores_path(tag_name: tag.name), class: "badge rounded-pill bg-primary text-decoration-none text-white" do %>
      <%= tag.name %>
    <% end %>
    <% end %>
  </div>

  <div class="row">
    <h3>この本屋のおすすめ文</h3>
    <% if @store_reviews.present? %>
    <%= render @store_reviews %>
    <% else %>
    <div class="mb-3">まだおすすめ文がありません</div>
    <% end %>
    </div>

  <div>
  <%= link_to "この本屋のおすすめ文を書いてみる", new_bookstore_store_review_path(@bookstore) %>
  </div>
  <%= link_to "本屋一覧へ", bookstores_path %>

</div>