<%= form_with model: store_review.persisted? ? store_review : [bookstore, store_review], local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.hidden_field :bookstore_id, value: @store_review.bookstore_id %>

  <div class="mb-3">
    <%= f.label :date_entered, class: "form-label" %>
    <%= f.date_select :date_entered, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :opportunity, class: "form-label" %>
    <%= f.text_area :opportunity, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :first_visit, class: "form-label" %>
    <%= f.text_area :first_visit, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :favorite_reason, class: "form-label" %>
    <%= f.text_area :favorite_reason, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :free_description, class: "form-label" %>
    <%= f.text_area :free_description, class: "form-control", rows: "10" %>
  </div>

  <%= f.submit nil, class: "btn btn-success" %>
<% end %>
